In [1]:
import pandas as  pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("movies.csv")

In [3]:
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

In [4]:
def statics_overview(df):
    print("\n top ten rows \n", df.head(10))
    print("\n sample as rows \n", df.sample(10))
    print("\n last rows \n", df.tail())
    print("\n size of dataset \n", df.shape)
    print("\n types of data sets \n", df.dtypes)
    print("\n print info \n", df.info())
    return
statics_overview(df)

 top ten rows
                                 MOVIES         YEAR  \
0                        Blood Red Sky       (2021)
1  Masters of the Universe: Revelation     (2021– )
2                     The Walking Dead  (2010–2022)
3                       Rick and Morty     (2013– )
4                      Army of Thieves       (2021)
5                          Outer Banks     (2020– )
6      The Last Letter from Your Lover       (2021)
7                               Dexter  (2006–2013)
8                    Never Have I Ever     (2020– )
9                         Virgin River     (2019– )

                                        GENRE  RATING  \
0      \nAction, Horror, Thriller                 6.1
1  \nAnimation, Action, Adventure                 5.0
2       \nDrama, Horror, Thriller                 8.2
3  \nAnimation, Adventure, Comedy                 9.2
4         \nAction, Crime, Horror                 NaN
5          \nAction, Crime, Drama                 7.6
6                \nDrama, Romance                 6.8
7         \nCrime, Drama, Mystery                 8.6
8                        \nComedy                 7.9
9                \nDrama, Romance                 7.4

                                            ONE-LINE  \
0  \nA woman with a mysterious illness is forced ...
1  \nThe war for Eternia begins again in what may...
2  \nSheriff Deputy Rick Grimes wakes up from a c...
3  \nAn animated series that follows the exploits...
4  \nA prequel, set before the events of Army of ...
5  \nA group of teenagers from the wrong side of ...
6  \nA pair of interwoven stories set in the past...
7  \nBy day, mild-mannered Dexter is a blood-spat...
8  \nThe complicated life of a modern-day first g...
9  \nSeeking a fresh start, nurse practitioner Me...

                                               STARS    VOTES  RunTime Gross
0  \n    Director:\nPeter Thorwarth\n| \n    Star...   21,062    121.0   NaN
1  \n            \n    Stars:\nChris Wood, \nSara...   17,870     25.0   NaN
2  \n            \n    Stars:\nAndrew Lincoln, \n...  885,805     44.0   NaN
3  \n            \n    Stars:\nJustin Roiland, \n...  414,849     23.0   NaN
4  \n    Director:\nMatthias Schweighöfer\n| \n  ...      NaN      NaN   NaN
5  \n            \n    Stars:\nChase Stokes, \nMa...   25,858     50.0   NaN
6  \n    Director:\nAugustine Frizzell\n| \n    S...    5,283    110.0   NaN
7  \n            \n    Stars:\nMichael C. Hall, \...  665,387     53.0   NaN
8  \n            \n    Stars:\nMaitreyi Ramakrish...   34,530     30.0   NaN
9  \n            \n    Stars:\nAlexandra Breckenr...   27,279     44.0   NaN

 sample as rows
                                                  MOVIES         YEAR  \
4041                              Leobeulli Horeobeulli       (2018)
8557                        Ghost in the Shell SAC_2045     (2020– )
3060                                         Miss India       (2020)
7205                                         Typewriter       (2019)
6126                                              Maska          NaN
5801                                  Heart of Invictus     (2022– )
5753  Never Stop Dreaming: The Life and Legacy of Sh...       (2018)
7742                 She-Ra and the Princesses of Power  (2018–2020)
5292                The Art Star and the Sudanese Twins       (2008)
307                               3rd Rock from the Sun  (1996–2001)

                                           GENRE  RATING  \
4041         \nComedy, Drama, Horror                 6.5
8557      \nAnimation, Action, Crime                 7.7
3060                         \nDrama                 3.6
7205     \nHorror, Mystery, Thriller                 7.2
6126                                         NaN     NaN
5801            \nDocumentary, Sport                 NaN
5753                   \nDocumentary                 NaN
7742  \nAnimation, Action, Adventure                 8.0
5292            \nDocumentary, Drama                 7.1
307         \nComedy, Family, Sci-Fi                 7.7

                                               ONE-LINE  \
4041  \nPhilip and Eul-Soon seem to share fate. If o...
8557  \nTogusa has a strange episode while analyzing...
3060  \nAn aspiring Indian entrepreneur confronts di...
7205  \nA sudden death prompts the Ghost Gang to hat...
6126  \nIt looks at a confused millennial who seeks ...
5801  \nFollow a group of competitors, from around t...
5753  \nA look back on the life of Nobel Peace Prize...
7742  \nThe village of Elberon throws a party for Ad...
5292  \nVanessa Beecroft is obsessively determined t...
307   \nA group of aliens are sent to Earth, disguis...

                                                  STARS   VOTES  RunTime Gross
4041  \n            \n    Stars:\nSong Ji-Hyo, \nShi...     241     35.0   NaN
8557  \n    Directors:\nShinji Aramaki, \nKenji Kami...      84     25.0   NaN
3060  \n    Director:\nNarendra Nath\n| \n    Stars:...   1,793    136.0   NaN
7205  \n    Director:\nSujoy Ghosh\n| \n    Stars:\n...     143     55.0   NaN
6126  \n    Director:\nNeeraj Udhwani\n| \n    Stars...     NaN    111.0   NaN
5801          \n            \n    Star:\nPrince Harry\n     NaN      NaN   NaN
5753  \n    Director:\nRichard Trank\n| \n    Stars:...     NaN    129.0   NaN
7742  \n    Director:\nJen Bennett\n| \n    Stars:\n...     900     24.0   NaN
5292  \n    Director:\nPietra Brettkelly\n| \n    St...      82    109.0   NaN
307   \n            \n    Stars:\nJohn Lithgow, \nJa...  48,780     60.0   NaN

 last rows
                   MOVIES      YEAR  \
9994      The Imperfects  (2021– )
9995              Arcane  (2021– )
9996   Heart of Invictus  (2022– )
9997      The Imperfects  (2021– )
9998      The Imperfects  (2021– )

                                           GENRE  RATING        ONE-LINE  \
9994     \nAdventure, Drama, Fantasy                 NaN  \nAdd a Plot\n
9995  \nAnimation, Action, Adventure                 NaN  \nAdd a Plot\n
9996            \nDocumentary, Sport                 NaN  \nAdd a Plot\n
9997     \nAdventure, Drama, Fantasy                 NaN  \nAdd a Plot\n
9998     \nAdventure, Drama, Fantasy                 NaN  \nAdd a Plot\n

                                                  STARS VOTES  RunTime Gross
9994  \n            \n    Stars:\nMorgan Taylor Camp...   NaN      NaN   NaN
9995                                                 \n   NaN      NaN   NaN
9996  \n    Director:\nOrlando von Einsiedel\n| \n  ...   NaN      NaN   NaN
9997  \n    Director:\nJovanka Vuckovic\n| \n    Sta...   NaN      NaN   NaN
9998  \n    Director:\nJovanka Vuckovic\n| \n    Sta...   NaN      NaN   NaN

 size of dataset
 (9999, 9)

 types of data sets
 MOVIES       object
YEAR         object
GENRE        object
RATING      float64
ONE-LINE     object
STARS        object
VOTES        object
RunTime     float64
Gross        object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

 print info
 None

In [5]:

print("Missing values")
for col in df.columns:
    m_values=df[col].isna().sum()
    percentage=(m_values/df.shape[0])*100
    print("%s: %.2f%% (%d)" % (col,percentage,m_values))

Missing values
MOVIES: 0.00% (0)
YEAR: 6.44% (644)
GENRE: 0.80% (80)
RATING: 18.20% (1820)
ONE-LINE: 0.00% (0)
STARS: 0.00% (0)
VOTES: 18.20% (1820)
RunTime: 29.58% (2958)
Gross: 95.40% (9539)

In [6]:
df.rename(columns=str.lower, inplace=True)

In [7]:
df[['stars', 'genre', 'one-line']]=df[['stars', 'genre', 'one-line']].replace(r'[^a-zA-Z0-9]',"")

df['genre']=df['genre'].str.replace('/n','').str.strip()
df['stars']=df['stars'].str.replace(r'\n', ' ', regex=True).str.strip()
df['one-line']=df['one-line'].str.replace('/n','').str.strip()
df[['stars','genre','one-line']]

,stars,genre,one-line
0,Director: Peter Thorwarth | Stars: Peri B...,"Action, Horror, Thriller",A woman with a mysterious illness is forced in...
1,"Stars: Chris Wood, Sarah Michelle Gellar, Le...","Animation, Action, Adventure",The war for Eternia begins again in what may b...
2,"Stars: Andrew Lincoln, Norman Reedus, Meliss...","Drama, Horror, Thriller",Sheriff Deputy Rick Grimes wakes up from a com...
3,"Stars: Justin Roiland, Chris Parnell, Spence...","Animation, Adventure, Comedy",An animated series that follows the exploits o...
4,Director: Matthias Schweighöfer | Stars: ...,"Action, Crime, Horror","A prequel, set before the events of Army of th..."
...,...,...,...
9994,"Stars: Morgan Taylor Campbell, Chris Cope, I...","Adventure, Drama, Fantasy",Add a Plot
9995,,"Animation, Action, Adventure",Add a Plot
9996,Director: Orlando von Einsiedel | Star: P...,"Documentary, Sport",Add a Plot
9997,Director: Jovanka Vuckovic | Stars: Morga...,"Adventure, Drama, Fantasy",Add a Plot
9998,Director: Jovanka Vuckovic | Stars: Morga...,"Adventure, Drama, Fantasy",Add a Plot

In [8]:
df['stars']

0       Director: Peter Thorwarth |      Stars: Peri B...
1       Stars: Chris Wood,  Sarah Michelle Gellar,  Le...
2       Stars: Andrew Lincoln,  Norman Reedus,  Meliss...
3       Stars: Justin Roiland,  Chris Parnell,  Spence...
4       Director: Matthias Schweighöfer |      Stars: ...
                              ...
9994    Stars: Morgan Taylor Campbell,  Chris Cope,  I...
9995
9996    Director: Orlando von Einsiedel |      Star: P...
9997    Director: Jovanka Vuckovic |      Stars: Morga...
9998    Director: Jovanka Vuckovic |      Stars: Morga...
Name: stars, Length: 9999, dtype: object

In [9]:
def extract_info(s):
    s=s.replace('..','').strip()
    info={'Director':"",'Stars':''}

    parts=[p.strip() for p in s.split('|')]
    for i in parts:
        if i.startswith('Director:') or i.startswith('Directors:'):
            info['Director']=i.split(":",1)[1].strip()
        elif i.startswith('Star:')or i.startswith('Stars:'):
            info['Stars']=i.split(':',1)[1].strip()
    return pd.Series(info)
df[['Director', 'Stars']] = df['stars'].apply(extract_info)
df[['stars', 'Stars', 'Director']]

,stars,Stars,Director
0,Director: Peter Thorwarth | Stars: Peri B...,"Peri Baumeister, Carl Anton Koch, Alexander ...",Peter Thorwarth
1,"Stars: Chris Wood, Sarah Michelle Gellar, Le...","Chris Wood, Sarah Michelle Gellar, Lena Head...",
2,"Stars: Andrew Lincoln, Norman Reedus, Meliss...","Andrew Lincoln, Norman Reedus, Melissa McBri...",
3,"Stars: Justin Roiland, Chris Parnell, Spence...","Justin Roiland, Chris Parnell, Spencer Gramm...",
4,Director: Matthias Schweighöfer | Stars: ...,"Matthias Schweighöfer, Nathalie Emmanuel, Ru...",Matthias Schweighöfer
...,...,...,...
9994,"Stars: Morgan Taylor Campbell, Chris Cope, I...","Morgan Taylor Campbell, Chris Cope, Iñaki Go...",
9995,,,
9996,Director: Orlando von Einsiedel | Star: P...,Prince Harry,Orlando von Einsiedel
9997,Director: Jovanka Vuckovic | Stars: Morga...,"Morgan Taylor Campbell, Iñaki Godoy, Rhianna...",Jovanka Vuckovic
9998,Director: Jovanka Vuckovic | Stars: Morga...,"Morgan Taylor Campbell, Jennifer Cheon Garcia...",Jovanka Vuckovic

In [10]:
df.drop("stars",axis=1, inplace=True)

In [11]:
df['year']=df['year'].astype(str)
df['year']=df['year'].str.extract(r'((?:19|20)\d{2})')
df['year'] = pd.to_datetime(df['year'], format="%Y", errors='coerce').dt.year.astype('Int64')
df['year']

0       2021
1       2021
2       2010
3       2013
4       2021
        ...
9994    2021
9995    2021
9996    2022
9997    2021
9998    2021
Name: year, Length: 9999, dtype: Int64

In [12]:
df['year'].isna().sum()

np.int64(748)

In [13]:
df=df.sort_values(by=['year']).reset_index(drop=True)

In [14]:
print(df)

             movies  year                        genre  rating  \
0          Scarface  1932         Action, Crime, Drama     7.8
1        Söderkåkar  1932                       Comedy     5.3
2      Kära släkten  1933                       Comedy     5.4
3           Karriär  1938                        Drama     5.2
4             Dumbo  1941  Animation, Adventure, Drama     7.2
...             ...   ...                          ...     ...
9994   Pretty Smart  <NA>                       Comedy     NaN
9995   Pretty Smart  <NA>                       Comedy     NaN
9996   Pretty Smart  <NA>                       Comedy     NaN
9997   Pretty Smart  <NA>                       Comedy     NaN
9998   Pretty Smart  <NA>                       Comedy     NaN

                                               one-line    votes  runtime  \
0     An ambitious and nearly insane violent gangste...   26,365     93.0
1     The movie version of Gideon Wahlbergs comedy a...       59     87.0
2     The story about a Stockholm wholesaler and his...       36     94.0
3     A traveling theater company in Sweden. Conflic...       52    106.0
4     Ridiculed because of his enormous ears, a youn...  124,409     64.0
...                                                 ...      ...      ...
9994                                         Add a Plot      NaN      NaN
9995                                         Add a Plot      NaN      NaN
9996                                         Add a Plot      NaN      NaN
9997                                         Add a Plot      NaN      NaN
9998                                         Add a Plot      NaN      NaN

       gross                                           Director  \
0        NaN                      Howard Hawks,  Richard Rosson
1        NaN                                  Weyler Hildebrand
2        NaN                                    Gustaf Molander
3        NaN                                     Schamyl Bauman
4     $1.60M  Samuel Armstrong,  Norman Ferguson,  Wilfred J...
...      ...                                                ...
9994     NaN
9995     NaN                                 Jody Margolin Hahn
9996     NaN                                 Jody Margolin Hahn
9997     NaN
9998     NaN

                                                  Stars
0     Paul Muni,  Ann Dvorak,  Karen Morley,  Osgood...
1     Gideon Wahlberg,  Dagmar Ebbesen,  Björn Bergl...
2     Gösta Ekman,  Tutta Rolf,  Carl Barcklind,  Th...
3     Signe Hasso,  Sture Lagerwall,  Tollie Zellman...
4     Sterling Holloway,  Edward Brophy,  Herman Bin...
...                                                 ...
9994  Cinthya Carmona,  Santana Dempsey,  David Grid...
9995  Cinthya Carmona,  Olivia Macklin,  Emily Osmen...
9996  Cinthya Carmona,  Olivia Macklin,  Emily Osmen...
9997  Cinthya Carmona,  Olivia Macklin,  Emily Osmen...
9998  Cinthya Carmona,  Olivia Macklin,  Emily Osmen...

[9999 rows x 10 columns]

In [15]:
df['year']=df['year'].ffill()
df['year'].isna().sum()

np.int64(0)

In [16]:
def remove_dup(df):
    print("\n number of duplicate \n", df.duplicated().sum())
    print(f"\n remove duplicated is {df.drop_duplicates(inplace=True)}\n")
    return
remove_dup(df)

 number of duplicate
 431

 remove duplicated is None

In [17]:
df['votes']

0        26,365
1            59
2            36
3            52
4       124,409
         ...
9989        NaN
9992        NaN
9993        NaN
9994        NaN
9995        NaN
Name: votes, Length: 9568, dtype: object

In [18]:
df['votes']=df['votes'].astype(str).str.replace(',','').str.strip()
df['votes']=pd.to_numeric(df['votes'], errors='coerce')
def missing_v(df):
    print(f"votes total number of nan {df['votes'].isnull().sum()}\n")
    print(df['votes'].fillna(0, inplace=True))
    print(f"\n after fillna total number of nan {df['votes'].isnull().sum()}\n")
    return
missing_v(df)

votes total number of nan 1400

None

 after fillna total number of nan 0

In [19]:
(df['votes']==0).sum()

np.int64(1400)

In [20]:
df.columns

Index(['movies', 'year', 'genre', 'rating', 'one-line', 'votes', 'runtime',
       'gross', 'Director', 'Stars'],
      dtype='object')

In [21]:
df['Director']

0                           Howard Hawks,  Richard Rosson
1                                       Weyler Hildebrand
2                                         Gustaf Molander
3                                          Schamyl Bauman
4       Samuel Armstrong,  Norman Ferguson,  Wilfred J...
                              ...
9989                                        Pamela Fryman
9992
9993
9994
9995                                   Jody Margolin Hahn
Name: Director, Length: 9568, dtype: object

In [22]:
print((df['Director']=='').sum())
print(df['Director'].isna().sum())

3448
0

In [23]:
df['Director']=df['Director'].replace('',np.nan).str.strip()
df['Director']=df['Director'].fillna('Not known')
df['Director']=df['Director'].astype(str)

In [24]:
df['gross']=df['gross'].str.replace('$','').str.strip()

In [25]:
def clean_val(val):
    if isinstance(val,str):
        val=val.strip().upper()
        if 'M' in val:
            return float(val.replace('M',''))*1000000
        elif 'K' in val:
            return float(val.replace('K',''))*1000
        elif 'B' in val:
            return float(val.replace('B',''))*1_000_000_000
        else:
            try:
                return float(val.replace(',',''))
            except:
                return None
    return None
df['gross']=df['gross'].apply(clean_val)

In [26]:
df['genre'].isna().sum()

np.int64(78)

In [27]:
df['genre']=df['genre'].astype(str).str.replace('\n', '', regex=True).str.strip().str.replace(r'\s*,\s*', ', ', regex=True)

In [28]:
merger_df=df.groupby('Director')['genre'].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else'Unknow')
df['genre']=df['genre'].fillna(df['Director'].map(merger_df))
df['genre'] = df['genre'].fillna('Unknown')  
df['genre'].isna().sum()

np.int64(0)

In [29]:
df['one-line']=df['one-line'].str.replace('Add a Plot','Unknown')

In [30]:
df['one-line'].unique()

array(['An ambitious and nearly insane violent gangster climbs the ladder of success in the mob, but his weaknesses prove to be his downfall.',
       'The movie version of Gideon Wahlbergs comedy about the happy life in Södermalm of Stockholm.',
       'The story about a Stockholm wholesaler and his three daughters.',
       ...,
       "Two young Secret Service agents who are stuck with the worst detail in the First Family - the President's black sheep son.",
       "A boy named Monkey D. Luffy embarks on a journey to attain the greatest treasure: the one piece. After the former pirate king's public execution 22 years ago, the world has entered a great pirate era, and Luffy aims to be at the top.",
       'When the Wesker kids move to New Raccoon City, the secrets they uncover might just be the end of everything.'],
      shape=(8688,), dtype=object)

In [31]:
df['one-line'].isna().sum()

np.int64(0)

In [32]:
df.isna().sum()

movies         0
year           0
genre          0
rating      1400
one-line       0
votes          0
runtime     2560
gross       9108
Director       0
Stars          0
dtype: int64

In [33]:
df

,movies,year,genre,rating,one-line,votes,runtime,gross,Director,Stars
0,Scarface,1932,"Action, Crime, Drama",7.8,An ambitious and nearly insane violent gangste...,26365.0,93.0,NaN,"Howard Hawks, Richard Rosson","Paul Muni, Ann Dvorak, Karen Morley, Osgood..."
1,Söderkåkar,1932,Comedy,5.3,The movie version of Gideon Wahlbergs comedy a...,59.0,87.0,NaN,Weyler Hildebrand,"Gideon Wahlberg, Dagmar Ebbesen, Björn Bergl..."
2,Kära släkten,1933,Comedy,5.4,The story about a Stockholm wholesaler and his...,36.0,94.0,NaN,Gustaf Molander,"Gösta Ekman, Tutta Rolf, Carl Barcklind, Th..."
3,Karriär,1938,Drama,5.2,A traveling theater company in Sweden. Conflic...,52.0,106.0,NaN,Schamyl Bauman,"Signe Hasso, Sture Lagerwall, Tollie Zellman..."
4,Dumbo,1941,"Animation, Adventure, Drama",7.2,"Ridiculed because of his enormous ears, a youn...",124409.0,64.0,1600000.0,"Samuel Armstrong, Norman Ferguson, Wilfred J...","Sterling Holloway, Edward Brophy, Herman Bin..."
...,...,...,...,...,...,...,...,...,...,...
9989,Pretty Smart,2023,Comedy,NaN,Unknown,0.0,NaN,NaN,Pamela Fryman,"Cinthya Carmona, Olivia Macklin, Emily Osmen..."
9992,Pretty Smart,2023,Comedy,NaN,Unknown,0.0,NaN,NaN,Not known,"Cinthya Carmona, Olivia Macklin, Emily Osmen..."
9993,Pretty Smart,2023,Comedy,NaN,Unknown,0.0,NaN,NaN,Not known,"Robert Belushi, Cinthya Carmona, Olivia Mack..."
9994,Pretty Smart,2023,Comedy,NaN,Unknown,0.0,NaN,NaN,Not known,"Cinthya Carmona, Santana Dempsey, David Grid..."
9995,Pretty Smart,2023,Comedy,NaN,Unknown,0.0,NaN,NaN,Jody Margolin Hahn,"Cinthya Carmona, Olivia Macklin, Emily Osmen..."

In [34]:
df['gross'].fillna(0,inplace=True)

In [35]:
df['rating'].isna().sum()

np.int64(1400)

In [36]:
df['runtime'].isna().sum()

np.int64(2560)

In [37]:
# Fill NaN based on group median (Director + GENRE)
df['rating']=df.groupby(['genre','Director'])['rating'].transform(lambda x: x.fillna(x.median()))

In [38]:
median=df['rating'].median()
df['rating'].fillna(median, inplace=True)

In [39]:
df['rating']

0       7.8
1       5.3
2       5.4
3       5.2
4       7.2
       ...
9989    7.1
9992    7.0
9993    7.0
9994    7.0
9995    7.4
Name: rating, Length: 9568, dtype: float64

In [40]:
df['runtime']=df.groupby(df['genre'].str.replace(',','',regex=True).str.strip())['runtime'].transform(lambda x:x.fillna(x.median()))
median=df['runtime'].median()
df['runtime'].fillna(median,inplace=True)

In [41]:
Q1=df['runtime'].quantile(0.25)
Q3=df['runtime'].quantile(0.75)
IQR=Q3-Q1
lower=Q1-1.5*IQR
upper=Q3+1.5*IQR

df=df[(df['runtime']>=lower) &(df['runtime']<=upper)]

In [42]:
df

,movies,year,genre,rating,one-line,votes,runtime,gross,Director,Stars
0,Scarface,1932,"Action, Crime, Drama",7.8,An ambitious and nearly insane violent gangste...,26365.0,93.0,0.0,"Howard Hawks, Richard Rosson","Paul Muni, Ann Dvorak, Karen Morley, Osgood..."
1,Söderkåkar,1932,Comedy,5.3,The movie version of Gideon Wahlbergs comedy a...,59.0,87.0,0.0,Weyler Hildebrand,"Gideon Wahlberg, Dagmar Ebbesen, Björn Bergl..."
2,Kära släkten,1933,Comedy,5.4,The story about a Stockholm wholesaler and his...,36.0,94.0,0.0,Gustaf Molander,"Gösta Ekman, Tutta Rolf, Carl Barcklind, Th..."
3,Karriär,1938,Drama,5.2,A traveling theater company in Sweden. Conflic...,52.0,106.0,0.0,Schamyl Bauman,"Signe Hasso, Sture Lagerwall, Tollie Zellman..."
4,Dumbo,1941,"Animation, Adventure, Drama",7.2,"Ridiculed because of his enormous ears, a youn...",124409.0,64.0,1600000.0,"Samuel Armstrong, Norman Ferguson, Wilfred J...","Sterling Holloway, Edward Brophy, Herman Bin..."
...,...,...,...,...,...,...,...,...,...,...
9989,Pretty Smart,2023,Comedy,7.1,Unknown,0.0,66.0,0.0,Pamela Fryman,"Cinthya Carmona, Olivia Macklin, Emily Osmen..."
9992,Pretty Smart,2023,Comedy,7.0,Unknown,0.0,66.0,0.0,Not known,"Cinthya Carmona, Olivia Macklin, Emily Osmen..."
9993,Pretty Smart,2023,Comedy,7.0,Unknown,0.0,66.0,0.0,Not known,"Robert Belushi, Cinthya Carmona, Olivia Mack..."
9994,Pretty Smart,2023,Comedy,7.0,Unknown,0.0,66.0,0.0,Not known,"Cinthya Carmona, Santana Dempsey, David Grid..."
9995,Pretty Smart,2023,Comedy,7.4,Unknown,0.0,66.0,0.0,Jody Margolin Hahn,"Cinthya Carmona, Olivia Macklin, Emily Osmen..."

In [43]:
print((df['Stars']== '').sum())
df['Stars']=df['Stars'].replace('',np.nan)
print(df['Stars'].isna().sum)
df['Stars']=df['Stars'].fillna('Unknow')
print(f'after change {df['Stars'].isna().sum()}')

628
<bound method Series.sum of 0       False
1       False
2       False
3       False
4       False
        ...
9989    False
9992    False
9993    False
9994    False
9995    False
Name: Stars, Length: 9433, dtype: bool>
after change 0

In [44]:
df.to_csv('clean_movies.csv', index=False)

In [45]:
df2=pd.read_csv('clean_movies.csv')

In [46]:
df2

,movies,year,genre,rating,one-line,votes,runtime,gross,Director,Stars
0,Scarface,1932,"Action, Crime, Drama",7.8,An ambitious and nearly insane violent gangste...,26365.0,93.0,0.0,"Howard Hawks, Richard Rosson","Paul Muni, Ann Dvorak, Karen Morley, Osgood..."
1,Söderkåkar,1932,Comedy,5.3,The movie version of Gideon Wahlbergs comedy a...,59.0,87.0,0.0,Weyler Hildebrand,"Gideon Wahlberg, Dagmar Ebbesen, Björn Bergl..."
2,Kära släkten,1933,Comedy,5.4,The story about a Stockholm wholesaler and his...,36.0,94.0,0.0,Gustaf Molander,"Gösta Ekman, Tutta Rolf, Carl Barcklind, Th..."
3,Karriär,1938,Drama,5.2,A traveling theater company in Sweden. Conflic...,52.0,106.0,0.0,Schamyl Bauman,"Signe Hasso, Sture Lagerwall, Tollie Zellman..."
4,Dumbo,1941,"Animation, Adventure, Drama",7.2,"Ridiculed because of his enormous ears, a youn...",124409.0,64.0,1600000.0,"Samuel Armstrong, Norman Ferguson, Wilfred J...","Sterling Holloway, Edward Brophy, Herman Bin..."
...,...,...,...,...,...,...,...,...,...,...
9428,Pretty Smart,2023,Comedy,7.1,Unknown,0.0,66.0,0.0,Pamela Fryman,"Cinthya Carmona, Olivia Macklin, Emily Osmen..."
9429,Pretty Smart,2023,Comedy,7.0,Unknown,0.0,66.0,0.0,Not known,"Cinthya Carmona, Olivia Macklin, Emily Osmen..."
9430,Pretty Smart,2023,Comedy,7.0,Unknown,0.0,66.0,0.0,Not known,"Robert Belushi, Cinthya Carmona, Olivia Mack..."
9431,Pretty Smart,2023,Comedy,7.0,Unknown,0.0,66.0,0.0,Not known,"Cinthya Carmona, Santana Dempsey, David Grid..."
9432,Pretty Smart,2023,Comedy,7.4,Unknown,0.0,66.0,0.0,Jody Margolin Hahn,"Cinthya Carmona, Olivia Macklin, Emily Osmen..."

In [47]:
df2.duplicated().sum()

np.int64(0)

In [48]:
(df['Stars']=='').sum()

np.int64(0)

In [49]:
for i in df2.columns:
    print(i)

movies
year
genre
rating
one-line
votes
runtime
gross
Director
Stars